*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/fbreader/extras/build/
/fbreader/extras/build/intermediates/javac/debug/classes/
/fbreader/styles/build/
/fbreader/styles/build/intermediates/javac/debug/classes/
/fbreader/text_extras/build/
/fbreader/text_extras/build/intermediates/javac/debug/classes/